{% extends 'content_base.html.twig' %}

{% block content_body %}

    <h1>Создание статьи</h1>
    {{ form_start(articleForm) }}
    {{ form_widget(articleForm) }}
    <button type="submit" class="btn btn-primary">Создать</button>
    {{ form_end(articleForm) }}
{% endblock %}